[Unit]
Description=rfcomm service
After=bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/rfcomm watch hci0 1 setsid /sbin/agetty -L rfcomm0 9600 xterm -a pi
Restart=on-failure
RestartSec=5

[Install]
WantedBy=bluetooth.target
