[Unit]
Description=rfcomm service
After=bluetooth.target
Wants=bluetooth.target

[Service]
Type=simple
ExecStart=nice -15 /usr/bin/rfcomm watch hci0 1 setsid /sbin/agetty -a pi -L rfcomm0 115200 xterm
Restart=on-failure
RestartSec=5

[Install]
WantedBy=bluetooth.target
