[Unit]
Description=Serial to Bluetooth status for e-ink displays - ser2bt:
#Before=poweroff.target reboot.target halt.target shutdown.target
After= ser2bt-e-paper-init.service
Requires= ser2bt-e-paper-init.service
#Conflicts=shutdown.target
#Wants=sysinit.target
#After=network-pre.target network-online.target
#DefaultDependencies=no

[Service]
Type=simple
KillSignal=SIGINT
TimeoutStopSec=120
SyslogIdentifier=ser2bt-e-paper
ExecStart=nice -15 /usr/local/bin/ser2bt_status
#ExecStartPost=/usr/local/bin/ser2bt_status_shutdown
TimeoutSec=20
#ExecStop=/bin/sleep 120
LimitNPROC=1
StandardOutput=inherit
Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=ser2bt-e-paper-init.service