[Unit]
Description=Serial to Bluetooth status for e-ink displays - ser2bt:
After= ser2bt-e-paper-init.service
Requires= ser2bt-e-paper-init.service

[Service]
Type=simple
#KillSignal=SIGINT
TimeoutStopSec=120
SyslogIdentifier=ser2bt-e-paper
Nice=15
ExecStart=/usr/local/bin/ser2bt_status
ExecStopPost=/usr/local/bin/shutdown_scr
TimeoutSec=30
LimitNPROC=1
StandardOutput=inherit
Restart=on-failure
RestartSec=10
KillMode=mixed

[Install]
WantedBy=ser2bt-e-paper-init.service