[Unit]
Description=ser2bt pisugar2 battery monitoring service
DefaultDependencies=no

[Service]
Type=simple
SyslogIdentifier=ser2bt-bat_mon_svc
ExecStart=/usr/local/bin/bat_mon
Nice=15
Restart=on-failure
RestartSec=5

[Install]
WantedBy=ser2bt-e-paper-init.service
