[Unit]
Description=Serial to Bluetooth init for e-ink displays - ser2bt:
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
SyslogIdentifier=ser2bt-e-paper-init
WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/init_scr
LimitNPROC=1

[Install]
WantedBy=bluetooth.target
